<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
        <meta name="Description" content="Put your description here.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link rel="apple-touch-icon" href="images/48.png">
    </head>
    <body>
        <a class="skip-link" href="#maincontent">Skip to main</a>
        <ul class="topnav">
            <li><a class="active" href="/">Home</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'post_new' %}" >Add</a></li>
                <li><a href="{% url 'post_draft_list' %}" > Publish</a></li>
                <li><a href="#about">About</a></li>
                <li class="right"><a href="{% url 'logout' %}" >Logout {{ user.username }} </a> </li>
            {% else %}
                <li class="right"><a href="{% url 'login' %}" >Login</a></li>
            {% endif %}
        </ul>
        
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
        <main id="maincontent"></main>
        <footer>
            <p>Posted by: Steven Pearce</p>
            <p>Contact information: <a href="mailto:tests@gmail.com">
            someone@example.com</a>.</p>
        </footer>
    </body>
</html>