<!DOCTYPE html>
<html lang="en">
{% load pwa %}
{% load static %}
<head>
	{% progressive_web_app_meta %}
        <meta name="Description" content="Put your description here.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <a class="skip-link" href="#maincontent">Skip to main</a>
        <ul class="topnav">
            <li><a class="active" href="/">Home</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'post_new' %}" >Add</a></li>
                <li><a href="{% url 'post_draft_list' %}" > Publish</a></li>
                <li><a href="#about">About</a></li>
                <li class="right"><a href="{% url 'logout' %}" >Logout {{ user.username }} </a> </li>
            {% else %}
                <li class="right"><a href="{% url 'login' %}" >Login</a></li>
            {% endif %}
        </ul>
        
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
        <main id="maincontent"></main>
        <div class="footer">
        <p>Footer</p>
            <script type="text/javascript" src="{% static 'js/idb.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/idbop.js' %}"></script>
        </div>
    </body>
</html>