<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
        <meta name="Description" content="Put your description here.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <a class="skip-link" href="#maincontent">Skip to main</a>
        <div class="navbar">
            <a href="/" class="navbar-brand">Django Girls Blog</a>
            {% if user.is_authenticated %}        
                <a href="{% url 'logout' %}" class="navbar-brand">Hello {{ user.username }} 🚪</a>  
                <a href="{% url 'post_new' %}" class="navbar-brand">➕add</a>
                <a href="{% url 'post_draft_list' %}" class="navbar-brand">🖊publish</a>

            {% else %}
                <a href="{% url 'login' %}" class="top-menu">Login</a>
            {% endif %}
           
        </div>
        <main id="maincontent"></main>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>